@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-textMain antialiased;
  }
}

/* Custom premium scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F4F7FE; 
}
::-webkit-scrollbar-thumb {
  background: #CBD5E1; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94A3B8; 
}
